<html>

<head>
    <title>Event Manager</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body>
    <div class="container">
        <br>
        <div class="text-center">
            <h2 class="header" style="height: 80px;">ONLINE EVENT MANAGER WITH GOOGLE</h2>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="text-center">
                    <h5>ADD NEW EVENT</h5>
                </div>
                <form id="main_form">
                    <div class="form-group">
                        <input type="text" class="form-control" name="summary" id="summary" placeholder="summary" required />
                    </div>
                    <div class="form-group">
                        <textarea class="form-control" name="description" id="description" placeholder="Description" rows="10" cols="20" required></textarea>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" name="location" id="location" placeholder="Location" required />
                    </div>

                    <div class="form-group">
                        <input type="datetime-local" id="start" name="start" class="form-control input-datetimepicker" data-date-format="yyy-mm-ddThh:ii" required>
                    </div>

                    <div class="form-group">
                        <input type="datetime-local" id="end" name="end" class="form-control input-datetimepicker" data-date-format="yyy-mm-ddThh:ii" required>
                    </div>

                    <div class="text-center">
                        <button type="button" id="eventSubmit" class="btn btn-success"> ADD EVENT</button>
                        <!-- <button type="button" id="viewEvent" class="btn btn-primary"> view events</button> -->
                    </div>
                </form>
            </div>
            <div class="col-md-6">
                <div class="text-center">
                    <h5>SAVED EVENTS</h5>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div id="saved_events"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>

<script type="text/javascript">
    getEvents();
    $('#eventSubmit').on('click', function(e) {
        e.preventDefault();
        var summary = $('#summary').val();
        var description = $('#description').val();
        var location = $('#location').val();
        var start = $('#start').val();
        var end = $('#end').val();

        if (summary == "" || summary == null || description == "" || description == null || location == "" || location == null || start == null || start == "" || end == "" || end == null) {
            swal("warning", "Please fill all feilds", "warning");
        } else {
            $.ajax({
                url: '/addEvent',
                method: 'POST',
                data: {
                    summary: summary,
                    description: description,
                    location: location,
                    start: start,
                    end: end
                },
                headers: {
                    Authorization: $ `Bearer ${localStorage.getItem("access_token")}`
                },
                error: function(r) {
                    swal("Error", "Something Went Wrong... Try Again...", "error");
                },
                success: function(r) {
                    if (r.result) {
                        getEvents();
                        swal("Success", "Event Created Successfully...", "success");
                    } else {
                        swal("Error", "Something Went Wrong...", "error");
                    }
                }
            });
        }
    });

    $('#viewEvent').on('click', function(e) {
        e.preventDefault();
        getEvents();
    });

    function getEvents() {
        $.ajax({
            url: '/getevents',
            method: 'GET',
            headers: {
                Authorization: $ `Bearer ${localStorage.getItem("access_token")}`
            },
            error: function(r) {},
            success: function(r) {
                console.log(r.result);
                let html = '';
                $.each(r.result, function(k, v) {
                    html += '<div class="card">';
                    html += '<div class="card-body">';
                    html += '<h5 class="card-title">' + v.summary + '</h5>';
                    html += '<p class="card-text">' + v.description + '</p>';
                    html += '<p class="card-text">Location: ' + v.location + '</p>';
                    html += '<p class="card-text">Start: ' + new Date(v.start.dateTime).toLocaleString() + ' End: ' + new Date(v.end.dateTime).toLocaleString() + '</p>';
                    html += '<a target="_blank" href="' + v.htmlLink + '" class="card-link">view calender</a>';
                    html += '</div></div></br>';
                });

                $("#saved_events").html(html);
            }
        });
    }
</script>